pamqp
certifi>=2017.11.5
chardet>=3.0.4
Django<2.0
django-cleanup>=1.0.1
django-crispy-forms>=1.7.0
django-crontab>=0.7.1
django-formtools>=2.1
django-reversion>=2.0.11
dwebsocket>=0.4.2
future>=0.16.0
httplib2>=0.10.3
idna>=2.6
olefile>=0.44
Pillow>=4.3.0
psutil>=5.4.1
PyMySQL>=0.7.11
pytz>=2017.3
requests
six
tornado>=4.5.2
urllib3>=1.22
xlrd>=1.1.0
djangorestframework==3.7.7
colorama
coloredlogs
humanfriendly
lxml
qrcode
requests_toolbelt
pyqrcode
pypng
django-bootstrap3
apscheduler